.colorPrompt {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 10px;
}
.colorPrompt span, input, button {
    margin: 10px;
    max-height: 30px;
    min-height:30px;
}
.popup{
    height: 0px;
    background-color: black;
    
}
