h4{
    margin-top:20px;
}
.color-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.colorOptions{
    display:flex;
    margin: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 .save-button {
     border: 1px solid black;
     color: black;
     margin-bottom: 20px;
     width: 100px;
     padding: 5px;
     text-decoration: none;
     text-align: center;
     background-color: white;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }

 .save-button:hover {
     border: 1px solid black;
     color: white;
     background-color: darkgray;
 }

 .save-button:active {
     border: 1px solid darkgray;
     color: white;
     background-color: black;
 }
