.preview-pane {
    margin: 25px;
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#termWindow {
    height: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.termCircles {
    margin: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#terminal {
    height:92%;
}

#interestTerm {
    font-family: 'Monaco', 'Courier New';
    font-size: 12px;
    color: white;
    background-color: black;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}