* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html{
  position: relative;
}
.App{
     font-family: 'Avenir',
     Helvetica,
     Arial,
     sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
    height: 100vh;

}

.App-header{
  height:auto;
  padding-top:25px;
  padding-bottom: 25px;
  background-color: #111111;
  text-align: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AAAAAA;
  border-bottom-width: 1px;
}
.wrapper {
  flex: 1 0 auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height:auto;
  justify-content: center;
  margin-top:5%;
  margin-bottom:10%;
}
.footer{
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-bottom:25px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #AAAAAA;
  border-top-width: 1px;
  background-color: whitesmoke;
}
.footer a img{
  margin-top: 10px;
  height: 32px;
  width: 32px;
}
