html{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100%
}
.App-header{
  height:100%;
  padding-top:25px;
  padding-bottom: 25px;
  background-color: #111111;
  text-align: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AAAAAA;
  border-bottom-width: 1px;
}
.wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height:100%;
  justify-content: space-between;
  margin-bottom: 125px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #AAAAAA;
  border-top-width: 1px;
  background-color: whitesmoke;
}
.footer a img{
  height: 32px;
  width: 32px;
}
