.App-header{
  padding:0px;
  margin:10px;
  text-align: center;
}
.App-title {
}
.App-intro {
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer a img{
  height: 32px;
  width: 32px;
}
